* {
  background-color: gray;
}
.App {
  border: 1px solid;
  margin: 50px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}
button {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(126, 247, 126);
}
button:hover {
  background-color: cadetblue(19, 218, 253);
  color: rgb(0, 0, 0);
}
